* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #EAE0FF;
  background-image: url("../images/shatterBg.png");
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 0.83vw; /*16px*/
  font-weight: 700;
  line-height: 1.71429;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, small, div, form, textarea, input {
  margin: 0px;
  font-size: 0.83vw; /*16px*/
}

img {
  vertical-align: middle;
}

.header {
  width: 100%;
  height: 2.6vw; /*50px*/
  background-color: #730099;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.1vw solid #C89DD7; /*2px*/
  box-shadow: 0px 2px 8px 5px rgba(0,0,0,0.2);
}

.fa-twitter {
  font-size: 1.6vw; /*32px 2rem*/
  color: #FFF;
}

.container {
  margin: 0 auto;
  margin-top: 1.04vw; /*20px*/
  display: flex;
  justify-content: center;
}

.box {
  background-color: #FFF;
  border-radius: 0.1vw; /*2px*/
}

.profile {
  width: 18.22vw; /*350px*/
  height: 11.45vw; /*220px*/
  margin-right: 1.04vw; /*20px*/
  box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.2);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.profile-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.image {
  width: 5.20vw; /*100px*/
  height: 5.20vw;
  background-image: url("../images/avatar.jpg");
  background-size: cover;
  background-position: center;
  border: 0.1vw solid #730099;
  border-radius: 50%;
}

.name {
  font-size: 1.14vw; /*22px 1.37rem*/
}

.user-name {
  font-size: 0.83vw; /*16px*/
  font-weight: normal;
}

.tweet-count-container {
  width: 100%;
  margin-top: 0.52vw; /*10px*/
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.count-tweet {
  font-size: 0.78vw; /*15px 0.93rem*/
}

.count {
  font-size: 0.93vw; /*18px  1.12rem*/
  color: #730099;
}

.form-area {
  width: 46.35vw; /*890px*/
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.2);
}

.tweet-form {
  padding: 1.04vw; /*20px*/
  display: flex;
  flex-flow: column;
}

.tweet-input {
  width: 44.27vw; /*850px*/
  height: 5.2vw;  /*100*/
  overflow:hidden;
  resize: none;
  border: none;
  border-bottom: 0.1vw solid #C89DD7; /*2px*/
  font-family: "Segoe UI";
}

.tweet-input:focus {
  outline: none;
  border-bottom: 0.1vw solid #730099; /*2px*/
}

.btn-count {
  margin-top: 1.04vw; /*20px*/
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.submit-btn {
  width: 4.1vw; /*80px*/
  height: 1.8vw; /*35px*/
  background-color: #730099;
  padding: 0.31vw 0.83vw; /*6px 16px*/
  border-radius: 5.2vw; /*100px*/
  border: none;
  color: #FFF;
  font-size: 0.72vw; /*14px 0.87rem*/
  font-weight: 600;
  opacity: 0.5;
  cursor: not-allowed;
}

.submit-btn:hover {
  background-color: #50006a;
}

.char-number {
  margin-right: 1.04vw; /*20px*/
  color: #730099;
  font-size: 0.93vw; /*18px 1.12rem*/
}

.tweet-feed {
  visibility: hidden;
  width: 65.6vw; /*1260px*/
  margin: 0 auto;
  margin-top: 1.04vw; /*20px*/
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 3px 8px 2px rgba(0,0,0,0.2);
  display: flex;
  flex-flow: column;
  align-items: center;
  }


.tweet-feed-content {
  width: 100%;
  height: 6.25vw; /*120px*/
  padding: 0.52vw; /*10px*/
  margin-bottom: 0.52vw;
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tweet-image {
  width: 4.16vw; /*80px*/
  height: 4.16vw;
  background-image: url("../images/avatar.jpg");
  background-size: cover;
  background-position: center;
  border: 0.1vw solid #730099;
  border-radius: 50%;
}

.new-tweet {
  width: 57.29vw; /*1100px*/
  display: flex;
  flex-flow: column;
  text-align: center;
}

.tweet-info {
  display: flex;
  align-items: center;
}

.tweet-name {
  font-size: 0.93vw; /*18px 1.12rem*/
}

.tweet-user {
  margin-left: 0.52vw; /*10px*/
  font-size: 0.72vw; /*14px 0.87rem*/
  font-weight: normal;
  color: #8794A1;
}

.tweet-date {
  margin-left: 0.52vw; /*10px*/
  font-size: 0.62vw; /*12px 0.75rem*/
  color: #8794A1;
}

.post-tweet {
  text-align: left;
  font-weight: normal;
  word-wrap: break-word;
}
